[Desktop Entry]
Encoding=UTF-8
Name=Unison
Comment=GTK interface for the unison file synchronization tool 2.27.57
GenericName=File synchronization tool
Exec=unison -ui graphic
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=unison-gtk.svg
Categories=Utility;FileTools;GTK;
StartupWMClass=Unison-gtk
StartupNotify=true
